body, html{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
	background: #1D1D1D;
	font: normal 400 10px/1 'futura-pt-condensed', sans-serif;
	-webkit-font-smoothing: antialiased;
}
button{
	border: 0;
	padding: 0;
	margin: 0;
	cursor: pointer;
}
h1, h2, p{
	padding: 0;
	margin: 0;
}

/*----preloader----*/
.preloader{
	position: absolute;
	left: 50%;
	top: 50%;
	height: 110px;
	width: 600px;
	margin: -55px 0 0 -300px;
	z-index: 999;
}
.preloader-text{
	position: relative;
	overflow: hidden;
	float: left;
	height: 48px;
	width: 600px;
}
.preloader-text h1{
	position: absolute;
	width: 100%;
	top: 0px;
	color: #FFF;
	font: normal 500 48px/1 'futura-pt-condensed', sans-serif;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.preloader h1:nth-child(1){
	animation: first 10s infinite;
	-webkit-animation: first 10s infinite;
	-moz-animation: first 10s infinite;
	-o-animation: first 10s infinite;
}
.preloader h1:nth-child(2){
	animation: second 10s infinite;
	-webkit-animation: second 10s infinite;
	-moz-animation: second 10s infinite;
	-o-animation: second 10s infinite;
}
.preloader h1:nth-child(3){
	animation: third 10s infinite;
	-webkit-animation: third 10s infinite;
	-moz-animation: third 10s infinite;
	-o-animation: third 10s infinite;
}
@keyframes first {
	0% {top: 0px; opacity: 1;}
	28% {top: 0px; opacity: 1;}
	33% {top: 20px; opacity: 0;}
	95% {top: 20px; opacity: 0;}
	100% {top: 0px; opacity: 1;}
}
@-webkit-keyframes first {
	0% {top: 0px; opacity: 1;}
	28% {top: 0px; opacity: 1;}
	33% {top: 20px; opacity: 0;}
	95% {top: 20px; opacity: 0;}
	100% {top: 0px; opacity: 1;}
}
@-moz-keyframes first {
	0% {top: 0px; opacity: 1;}
	28% {top: 0px; opacity: 1;}
	33% {top: 20px; opacity: 0;}
	95% {top: 20px; opacity: 0;}
	100% {top: 0px; opacity: 1;}
}
@-o-keyframes first {
	0% {top: 0px; opacity: 1;}
	28% {top: 0px; opacity: 1;}
	33% {top: 20px; opacity: 0;}
	95% {top: 20px; opacity: 0;}
	100% {top: 0px; opacity: 1;}
}

@keyframes second {
	0% {top: 20px; opacity: 0;}
	31% {top: 20px; opacity: 0;}
	36% {top: 0px; opacity: 1;}
	61% {top: 0px; opacity: 1;}
	66% {top: 20px; opacity: 0;}
	100% {top: 20px; opacity: 0;}
}
@-webkit-keyframes second {
	0% {top: 20px; opacity: 0;}
	31% {top: 20px; opacity: 0;}
	36% {top: 0px; opacity: 1;}
	61% {top: 0px; opacity: 1;}
	66% {top: 20px; opacity: 0;}
	100% {top: 20px; opacity: 0;}
}
@-moz-keyframes second {
	0% {top: 20px; opacity: 0;}
	31% {top: 20px; opacity: 0;}
	36% {top: 0px; opacity: 1;}
	61% {top: 0px; opacity: 1;}
	66% {top: 20px; opacity: 0;}
	100% {top: 20px; opacity: 0;}
}
@-o-keyframes second {
	0% {top: 20px; opacity: 0;}
	31% {top: 20px; opacity: 0;}
	36% {top: 0px; opacity: 1;}
	61% {top: 0px; opacity: 1;}
	66% {top: 20px; opacity: 0;}
	100% {top: 20px; opacity: 0;}
}

@keyframes third {
	0% {top: 20px; opacity: 0;}
	63% {top: 20px; opacity: 0;}
	68% {top: 0px; opacity: 1;}
	92% {top: 0px; opacity: 1;}
	95% {top: 20px; opacity: 0;}
	100% {top: 20px; opacity: 0;}
}
@-webkit-keyframes third {
	0% {top: 20px; opacity: 0;}
	63% {top: 20px; opacity: 0;}
	68% {top: 0px; opacity: 1;}
	92% {top: 0px; opacity: 1;}
	95% {top: 20px; opacity: 0;}
	100% {top: 20px; opacity: 0;}
}
@-moz-keyframes third {
	0% {top: 20px; opacity: 0;}
	63% {top: 20px; opacity: 0;}
	68% {top: 0px; opacity: 1;}
	92% {top: 0px; opacity: 1;}
	95% {top: 20px; opacity: 0;}
	100% {top: 20px; opacity: 0;}
}
@-o-keyframes third {
	0% {top: 20px; opacity: 0;}
	63% {top: 20px; opacity: 0;}
	68% {top: 0px; opacity: 1;}
	92% {top: 0px; opacity: 1;}
	95% {top: 20px; opacity: 0;}
	100% {top: 20px; opacity: 0;}
}

.preloader .line{
	float: left;
	width: 100px;
	height: 1px;
	background: #FFF;
	margin: 12px 250px;
	opacity: 0.2;
}
.preloader-progress{
	position: relative;
	overflow: hidden;
	float: left;
	height: 28px;
	width: 600px;
}
.preloader-progress p{
	position: absolute;
	top: 0px;
	width: 600px;
	color: #FFF;
	font: italic 400 28px/28px 'adobe-garamond-pro', sans-serif;
	margin: 0;
	padding: 0;
	text-align: center;
	opacity: 1;
	visibility: visible;
	transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
}
.preloader-progress button{
	position: absolute;
	font: italic 400 24px/28px 'adobe-garamond-pro', sans-serif;
	color: #FFF;
	background: none;
	opacity: 0;
	visibility: hidden;
	top: 28px;
	margin: 0 240px;
	width: 120px;
	transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
}
.preloader-done p{
	opacity: 0;
	visibility: hidden;
	top: 28px;
}
.preloader-done button{
	opacity: 1;
	visibility: visible;
	top: 0px;
}

/*----container----*/
.container{
	display: none;
	min-height: 100%;
	height: 100%;
}

/*----logo----*/
.logo h1{
	position: absolute;
	top: 120px;
	left: 22%;
	background: #000;
	font: normal 400 34px/40px 'futura-pt-condensed', sans-serif;
	color: #FFF;
	z-index: 10;
	text-transform: uppercase;
	padding: 0 10px;
	margin: 0 0 0 -80px;
}
.logo h2{
	position: absolute;
	top: 160px;
	left: 22%;
	background: #000;
	font: normal 600 28px/34px 'futura-pt-condensed', sans-serif;
	color: #FFF;
	z-index: 10;
	text-transform: uppercase;
	padding: 0 10px;
	margin: 0 0 0 -60px;
}
.logo .line{
	position: absolute;
	top: 50%;
	right: 11%;
	width: 100px;
	background: rgba(255,255,255,0.25);
	height: 1px;
	margin: 0.5px -50px 0 0;
	z-index: 9;
}
.logo button{
	position: absolute;
	background: none;
	width: 22%;
	height: 100%;
	min-height: 100%;
	top: 0;
	right: 0;
	cursor: url('../images/assets/menu.png') 25 25,e-resize;
	z-index: 10;
}
.logo button span{
	position: absolute;
	display: block;
	right: 50%;
	top: 50%;
	background: #000;
	width: 70px;
	height: 40px;
	color: #FFF;
	margin: -20px -35px 0 0;
	text-transform: uppercase;
	font: normal 400 30px/40px 'futura-pt-condensed', sans-serif;
	z-index: 10;
}

/*----nav----*/
nav{
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 30;
	cursor: url('../images/assets/close.png') 25 25,e-resize;
}
nav img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
}
nav button{
	background: none;
	position: absolute;
	top: 50%;
	width: 100%;
	font: normal 500 64px/80px 'futura-pt-condensed', sans-serif;
	color: #FFF;
	text-transform: uppercase;
	cursor: url('../images/assets/voir.png') 25 25,e-resize;
	z-index: 1;
}
nav button:nth-child(2) span, nav button:nth-child(4) span{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	background: rgba(0,0,0,0.25);
	width: 0%;
	height: 100%;
	z-index: -1;
	transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
}
nav button:nth-child(3) span{
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	background: rgba(0,0,0,0.25);
	width: 0%;
	height: 100%;
	z-index: -1;
	transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
}
nav button:hover span{
	width: 100%;
}
nav .line-one, nav .line-two{
	position: absolute;
	top: 50%;
	left: 50%;
	background: rgba(255,255,255,0.25);
	width: 60px;
	height: 1px;
	margin: -40.5px 0 0 -30px;
}
nav .line-two{
	margin: 40.5px 0 0 -30px;
}
button.to-about{
	margin: -120px 0 0 0;
}
button.to-fares{
	margin: -40px 0 0 0;
}
button.to-contact{
	margin: 40px 0 0 0;
}

/*----home----*/
.home{
	position: relative;
	width: 100%;
	min-height: 100%;
	height: 100%;
	z-index: 1;
}
.slider:nth-child(1){
	cursor: url('../images/assets/prev.png') 25 25,e-resize;
}
.slider{
	position: relative;
	overflow: hidden;
	float: left;
	width: 22%;
	min-height: 100%;
	height: 100%;
	cursor: url('../images/assets/next.png') 25 25,e-resize;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.focus{
	width: 34%;
	cursor: url('../images/assets/voir.png') 25 25,e-resize;
}
.slider .mask{
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
	min-height: 100%;
}
.slider img{
	position: absolute;
	height: 100%;
	min-height: 100%;
	top: 50%;
	left: 50%;
	margin: -50% 0 0 -50%;
}
.overlay{
	position: absolute;
	background: rgba(0, 0, 0, 0.65);
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	opacity: 1;
	overflow: visible;
	z-index: 4;
}
.focus .overlay{
	opacity: 0;
	overflow: hidden;
}
.focus .text{
	position: absolute;
	z-index: 5;
	width: 100%;
	height: 160px;
	bottom: 10%;
	margin: -80px 0 0 0;
}
.focus .text h1{
	position: absolute;
	top: 0px;
	width: 100%;
	font: normal 500 96px/1 'futura-pt-condensed', sans-serif;
	color: #FFF;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.focus .text .line{
	position: absolute;
	top: 100px;
	width: 60px;
	left: 50%;
	background: #FFF;
	height: 1px;
	margin: 0 0 0 -30px;
	opacity: 0.5;
}
.focus .text p{
	position: absolute;
	top: 116px;
	width: 100%;
	font: italic 400 28px/1 'adobe-garamond-pro', sans-serif;
	color: #FFF;
	text-align: center;
	letter-spacing: 0px;
}
.overlay-white, .overlay-black{
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: 99;
	opacity: 1;
	visibility: visible;
}
.overlay-white .layer:nth-child(1), .overlay-black .layer:nth-child(1){
	position: absolute;
	width: 22%;
	height: 100%;
	background: #1D1D1D;
	top: 0px;
	left: 0px;
}
.overlay-white .layer:nth-child(2), .overlay-black .layer:nth-child(2){
	position: absolute;
	width: 34%;
	height: 100%;
	background: #1D1D1D;
	bottom: 0px;
	left: 22%;
}
.overlay-white .layer:nth-child(3), .overlay-black .layer:nth-child(3){
	position: absolute;
	width: 22%;
	height: 100%;
	background: #1D1D1D;
	top: 0px;
	left: 56%;
}
.overlay-white .layer:nth-child(4), .overlay-black .layer:nth-child(4){
	position: absolute;
	width: 22%;
	height: 100%;
	background: #1D1D1D;
	bottom: 0px;
	left: 78%;
}
.overlay-white{
	opacity: 0;
	visibility: hidden;
}
.overlay-white .layer:nth-child(1), .overlay-white .layer:nth-child(2), .overlay-white .layer:nth-child(3), .overlay-white .layer:nth-child(4){
	height: 0%;
	background: #FFF;
}
.overlay-black .title{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 46px;
	height: 46px;
	margin: -23px 0 0 -23px;
	opacity: 0;
	visibility: hidden;
}


/*----about, fares----*/
.about, .fares{
	position: absolute;
	background: #FFF;
	top: 30px;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	cursor: url('../images/assets/close.png') 25 25,e-resize;
	opacity: 0;
	visibility: hidden;
}
.about > img, .fares > img{
	position: absolute;
	top: 50%;
	left: 50%;
	width: auto;
	height: 500px;
	margin: -250px 0 0 -373px;
}
.about .text, .fares .text{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 340px;
	height: 500px;
	margin: -150px 0 0 40px;
}
.fares .text{
	width: 960px;
	column-count: 3;
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-gap: 40px;
	-webkit-column-gap: 40px;
	-moz-column-gap: 40px;
	margin: -250px 0 0 -480px;
}
.about h1, .fares h1{
	font: normal 500 64px/50px 'futura-pt-condensed', sans-serif;
	color: #1D1D1D;
	text-transform: uppercase;
}
.about .line, .fares .line{
	width: 60px;
	height: 1px;
	margin: 20px 0;
	background: rgba(0,0,0,0.25);
}
.about p, .fares p{
	font: italic 400 20px/1.2 'adobe-garamond-pro', sans-serif;
	margin: 0 0 12px 0;
}
.fares p + a{
	display: block;
	width: 100px;
	height: 36px;
	background: #1D1D1D;
	border-radius: 5px;
	color: #FFF;
	font: normal 500 24px/36px 'futura-pt-condensed', sans-serif;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	margin: 20px 0 0 0;
}




/*----works----*/
.works{
	position: relative;
	top: 0px;
	left: 0px;
	height: 100%;
	min-height: 100%;
}
.works img{
	position: relative;
	float: left;
	width: auto; /* window.width */
	height: 100%;
	opacity: 0.25;
}
.works-text{
	position: absolute;
	z-index: 5;
	width: 360px;
	height: 160px;
	left: 50%;
	bottom: 10%;
	margin: -80px 0 0 -180px;
}
.works-text h1{
	position: absolute;
	top: 0px;
	width: 100%;
	font: normal 500 96px/1 'futura-pt-condensed', sans-serif;
	color: #FFF;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.works-text .line{
	position: absolute;
	top: 100px;
	width: 60px;
	left: 50%;
	background: #FFF;
	height: 1px;
	margin: 0 0 0 -30px;
	opacity: 0.5;
}
.works-text p{
	position: absolute;
	top: 116px;
	width: 100%;
	font: italic 400 28px/1 'adobe-garamond-pro', sans-serif;
	color: #FFF;
	text-align: center;
	letter-spacing: 0px;
}
.close-work{
	cursor: url('../images/assets/close.png') 25 25,e-resize;
}
.prev-work{
	cursor: url('../images/assets/prev.png') 25 25,e-resize;
}
.next-work{
	cursor: url('../images/assets/next.png') 25 25,e-resize;
}

/*----footer----*/
footer{
	position: absolute;
	bottom: 30px;
	right: 40px;
	z-index: 31;
}
footer .network, footer .language{
	float: right;
}
footer .network a{
	margin: 0 0 0 12px;
}
footer .language button{
	background: none;
	color: #FFF;
	font: normal 500 24px/16px 'futura-pt-condensed', sans-serif;
	text-transform: uppercase;
	margin: 0 0 0 6px;
}
.about footer, .fares footer{
	z-index: 100;
}
.about footer .language button, .fares footer .language button{
	color: #1D1D1D;
}


@media only screen and (max-width: 1024px) and (orientation:landscape){
	.slider:nth-child(1):after, .slider:nth-child(3):after{
		content: "";
		position: absolute;
		width: 50px;
		height: 50px;
		background: url('../images/assets/prev.png');
		z-index: 1000;
		top: 50%;
		left: 50%;
		margin: -25px 0 0 -25px;
	}
	.slider:nth-child(3):after{
		background: url('../images/assets/next.png');
	}
	nav:after, .about:after, .fares:after{
		content: "";
		position: absolute;
		width: 40px;
		height: 40px;
		background: url('../images/assets/close-white.png');
		background-size: 40px;
		z-index: 1000;
		top: 60px;
		right: 40px;
		margin: -20px 0 0 -20px;
	}
	.about:after, .fares:after{
		background: url('../images/assets/close-black.png');
	}
}
